*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navimg{
    width: 40px;
    height: 40px;
}

.navbar{
    background-color: wheat;
    width: 100%;
    height: 50px;
}

.my{
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.website{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.links {
    padding: 10px;
}

.links a {
    color: #333;           /* link text color */
    font-weight: 500;      /* medium bold */
    margin-right: 15px;    /* spacing between links */
    text-decoration: none; /* remove underline */
}

.links a:hover {
    color: white;        /* red color on hover */
}

.sale{
    color: orangered;
}